<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<h1>My Food Tracker</h1>
		<a href="{% url 'auth_logout' %}">Logout</a> <br /><br />

		{{ form.errors }}

		<form method="POST" action="{% url 'auth_password_change' %}">
			{% csrf_token %}

			{{ form.old_password.label }}
			{{ form.old_password }} <br /><br />

			{{ form.new_password1.label }}
			{{ form.new_password1 }} <br /><br />

			{{ form.new_password2.label }}
			{{ form.new_password2 }} <br /><br />

			<button type="submit" class="btn btn-sucess">Change password</button>
		</form>
	</body>
</html>